@external-padding: 30px;
@main-color: #81b3d2;
@text-light-color: white;
@text-dark-color: black;
@button-hover-background: #669ec0;
@button-active-color: rgba(255,255,255,0.3);
<<<<<<< HEAD
@button-active-background: #5496bd;
=======
>>>>>>> 64c6fbfb3bc94d1d86f3374f5bdf3585c87cbb4f
@menu-tablet-hover-color: #81b3d2;
@menu-tablet-down-color: rgba(0,0,0,0.3);
@menu-tablet-color-active: #766357;
@menu-tablet-hover-color-active: #604e43;
@menu-tablet-down-color-active: rgba(118,99,87,0.3);
@input-hover-background: #e5e5e5;
@input-border-color: #efefef;
@feature-no-img-background: #efefef;
@feature__photo-background: white;
@form-item-background: #f2f2f2;
@background-desktop: @form-item-background;
@container-background: white;
@footer-background: #fefefe;
@video-tool-background: rgba(0,0,0,0.6);
@video-tool__scale-background: rgba(255,255,255,0.2);
@video-tool__marker-background: white;
@video-tool__controls-background: #f2f2f2;
@tablet-width: 768px;
@desktop-width: 1200px;
