.header-promo {
  position: relative;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid red;
  &--big {
		@media (min-width: @tablet-width) {
			height: 518px;
			background-size: cover;
		}
  }
  &--small {
    height: 155px;
    background-position: center -232px;
		@media (min-width: @tablet-width) {
			height: 290px;
			background-size: 100% 200%;
		}
		@media (min-width: @desktop-width) {
			height: 300px;
		}
  }
}
