.header-promo {
  position: relative;
  height: 389px; 
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid red;
  &--small {
  height: 155px;
  background-position: center -232px;
  }
}
