.main-footer {
	padding-top: 37px;
	background-color: #fefefe;
	text-align: center;
}
.main-footer__title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.main-footer__copy {
	margin-top: 30px;
}
