.notes {
  margin-top: -10px;
  padding-top: 17px;
  padding-bottom: 10px;
	background-color: white;
	@media (min-width: @tablet-width) {
		display: flex;
		padding-top: 43px;
		padding-bottom: 60px;
		padding-left: 45px;
		padding-right: 45px;
		justify-content: space-between;
	}
	@media (min-width: @desktop-width) {
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 80px;
	}
}
