.note-block {
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 23px;
  margin-bottom: 0px;
  outline: 1px solid black;
}
.note-block__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.note-block__description {
  margin-bottom: 0px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
