.notes {
  margin-top: -10px;
  padding-top: 17px;
  padding-bottom: 10px;
  background-color: white;
	background-image: 	url("../img/icon-house.svg"),
											url("../img/icon-gift.svg"),
											url("../img/icon-burger.svg");
	background-repeat: no-repeat;
	background-size:	39px 37px,
										37px 38px,
										40px 35px;
	background-position: 	20px 27px,
												20px 156px,
												20px 273px;
											
  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 43px;
    padding-bottom: 60px;
    padding-left: 45px;
    padding-right: 45px;
    justify-content: space-between;
		background-size:	75px 72px,
											64px 75px,
											77px 68px;
		background-position: 	92px 64px,
													604px 62px,
													346px 68px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
		background-position: 	160px 62px,
													970px 60px,
													562px 66px;
  }
}
