.photo-block {
  padding-top: 20px;
  padding-bottom: 19px;
  outline: 1px solid blue;
}
.photo-block__caption {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.photo-block__author {
  margin-top: 0px;
  margin-bottom: 3px;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.photo-block__like-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 23px;
  height: 21px;
  background-color: lightgray;
}
.photo-block__like-total {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
