.video-tool {
  position: relative;
  height: 111px;
  outline: 1px solid blue;
  z-index: 2;
}
.video-tool__scale-box {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  box-sizing: border-box;
  height: 43px;
  background-color: @video-tool__scale-box-background;
  opacity: 0.6;
}
.video-tool__scale {
  position: relative;
  margin-left: 22px;
  margin-right: 22px;
  height: 3px;
  background-color: @video-tool__scale-background;
}
.video-tool__marker {
  position: absolute;
  top: -3px;
  left: 37px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: @video-tool__marker-background;
}
.video-tool__controls {
  position: relative;
  margin: 0;
  padding-top: 21px;
  padding-left: 22px;
  box-sizing: border-box;
  height: 66px;
  text-align: left;
  background-color: @video-tool__controls-background;
}
